<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-3WS21dJPgMpIFCR1Z39liRheMALdQ64</string>
	<key>GCM_SENDER_ID</key>
	<string>610219111745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subham.Whatsapp-Clone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-41596</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-41596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610219111745:ios:b9f49b7f485f41f2dbddc0</string>
</dict>
</plist>